[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
selenium = "*"
pygame = "*"
opencv-python = "*"
beautifulsoup4 = "*"
win32gui = "*"
torch = "*"

[requires]
python_version = "3.7"
